<body>
    <br><br>
    <div class="row center-align">
        <img id="logo" class="responsive-img circle" src="./assets/profile.jpg">
        <p id="name">Diego Ortiz MMA Español</p>
    </div>

    <div class="row center-align">
        <a target="_blank" href="https://www.youtube.com/watch?v=XuMLWptjuWU">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/yt.png">
                </div>
                <div class="col s11">
                    <a id="center">Último Video Youtube</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row center-align">
        <a target="_blank" href="https://www.youtube.com/c/DiegoOrtizMMAEspa%C3%B1ol/">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/yt.png">
                </div>
                <div class="col s11">
                    <a id="center">Canal Youtube</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row center-align">
        <a target="_blank" href="https://www.tiktok.com/@diegoortizmma">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/tiktok.png">
                </div>
                <div class="col s11">
                    <a id="center">Tiktok</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row center-align">
        <a target="_blank" href="https://www.amazon.es/MMA-una-historia-exito-deporte/dp/1542943248">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/amazon.png">
                </div>
                <div class="col s11">
                    <a id="center">Libro</a>
                </div>
            </div>
        </a>
    </div>
    <div class="row center-align">
        <a target="_blank" href="https://es-es.facebook.com/MMAESPANOL/">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/fb.png">
                </div>
                <div class="col s11">
                    <a id="center">Facebook</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row center-align">
        <a target="_blank" href="https://www.instagram.com/diego.ortiz.mma.espanol">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/ig.png">
                </div>
                <div class="col s11">
                    <a id="center">Instagram</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row center-align">
        <a target="_blank" href="mailto:ondacolombina@hotmail.com?Subject=Asunto%20Comercial:">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/email.png">
                </div>
                <div class="col s11">
                    <a id="center">Contacto comercial</a>
                </div>
            </div>
        </a>
    </div>
    
    <div class="row center-align">
        <a target="_blank" href="https://twitter.com/MatadorDeMMA">
            <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1 border">
                <div class="col s1">
                    <img class="icono" src="./assets/tw.png">
                </div>
                <div class="col s11">
                    <a id="center">Twitter</a>
                </div>
            </div>
        </a>
    </div>


    <!-- 
    Footer


 <div class="row center-align">

        <div class="offset-l4 col l4 offset-l4 offset-s1 col s10 offset-s1">
            <a href="#!">
                <div class="col s2">
                    <img class="iconosnav" src="./assets/circulo.png">
                </div>
            </a>

            <a href="#!">
                <div class="col s2">
                    <img class="iconosnav" src="./assets/circulo.png">
                </div>
            </a>

            <a href="#!">
                <div class="col s2">
                    <img class="iconosnav" src="./assets/circulo.png">
                </div>
            </a>

            <a href="#!">
                <div class="col s2">
                    <img class="iconosnav" src="./assets/circulo.png">
                </div>
            </a>
            <a href="#!">
                <div class="col s2">
                    <img class="iconosnav" src="./assets/circulo.png">
                </div>
            </a>
            <a href="#!">
                <div class="col s2">
                    <img class="iconosnav" src="./assets/circulo.png">
                </div>
            </a>
        </div>

    </div>




-->

    <br>
    <br>
</body>